:root {
  /* ===== Couleurs ===== */
  --color-primary: #047857;
  --color-primary-light: #10b981;
  --color-background: #f4f3f2;
  --color-text-main: #064e3b;
  --color-text-muted: #6b7280;
  --color-white: #ffffff;

  /* ===== Typo ===== */
  --font-main: "Segoe UI", Roboto, Arial, sans-serif;
  --font-size-base: 16px;
  --font-size-title: 24px;
  --font-size-label: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}